@import '../../variables';

.header {
  background-color: $header-bgc;
  box-shadow: 0 -1px 18px 5px rgba(50, 50, 50, 1);
  color: $text-color-header;
  display: flex;
  height: 65px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
}

.title {
  font-family: 'Courier New';
  font-size: 4vh;
  margin: auto;
  position: relative;
  text-align: center;
  width: 400px;
}

.header-search {
  border-radius: 50px 0 0 50px;
  border: 0;
  display: block;
  height: 20px;
  margin: auto;
  outline: 0;
  padding: 5px 25px;
  position: relative;
  top: 16.5px;
  transition: .5s;
  width: 20px;

  &:focus {
    width: 200px;
  }
}

.button-sidebar {
  background-color: $header-button-static;
  border: 0;
  color: $text-color-header;
  cursor: pointer;
  outline: none;
  padding: 0;
  transition: .2s;
  width: 5%;

  &:hover {
    background-color: $header-button-hover;
  }
}

.sidebar {
  height: 100%;
  left: 0;
  position: fixed;
  top: 65px;
  transition: 2s;
  width: 100px;
  z-index: 0;
}


