<div *ngIf="!start; else test" class="container">
  <button (click)="isTestStart();">Start test</button>
  <div *ngIf="wordArray.length == 0"> Dictionary is empty! </div>
</div>
<ng-template #test >
 <div class="container">
    <span> Test is on!</span>
    <div>{{answerObj.word}}</div>
    <hr>
    <div *ngFor="let item of questionArray">
      <button (click)="selectAnswer(item)" class="answer-item">{{item.translation}}</button>
    </div>
    <button (click)="nextQuestion()"> Next question  </button>
  </div>

</ng-template>
